<div class="container description h-80">
	
	<div class="row align-items-center pt-5">

	  <div class="col-12 col-md-8 text-center text-banner">
	    <h2>We are a <strong>technology company</strong> led by engineering and data, focused on uprising the global <strong>programmatic</strong> landscape through our ad tech solutions.</h2>
	  </div>

	  <div class="col-12 col-md-4">
	    <%= render 'components/icon1' %>
	  </div>

	</div>

</div>


