<div class="container description">
	
	<div class="row align-items-center">
	  <div class="col-12 col-md-4">
	    <%= render 'components/icon-grow' %>
	  </div>

	  <div class="col-12 col-md-8 text-center text-banner">
	    <h2><strong>Programmatic advertising</strong> is the automated buying and selling of digital advertising inventory.</h2>
	  </div>
	</div>

</div>


