<!-- <div class="container">
	
	<div class="align-items-center text-center">

	  <h2>Selfy DSP</h2> 
	  <h4>Mobile DSP (mobile demand-side platform) to launch branding and performance mobile advertising campaigns on smartphones and tablets, using programmatic advertising technologies like Real-Time Bidding (RTB), with proprietary technology of bidding algorithms, retargeting and user profiling. Selfy DSP offers unique capabilities to target your audience, and optimize the performance of your campaigns.
</h4>

	</div>

</div>


 -->