<div class="container description">
	
	<div class="row align-items-center">

	  <div class="col-12 col-md-8 text-center text-banner">
	    <h2>We are a technology company led by engineering and data, focused on uprising the global programmatic landscape through our ad tech solutions.</h2>
	  </div>

	  <div class="col-12 col-md-4">
	    <%= render 'components/icon1' %>
	  </div>

	</div>

</div>


