<div class="b-yellow">
	
	<div class="container d-flex">
		
		<div class="box">
			<i class="fas fa-rocket fa-3x	"></i>
			<p>Fully transparent</p>
			<p>Reach exclusive audiences</p>
			<p>Unique, high-quality inventory</p>	
		</div>
		
		<div class="box">
			<i class="fas fa-crown fa-3x"></i>
			<p>Customized algorithms</p>
			<p>Brand-safe environments</p>
			<p>Global reach</p>
		</div>

		<div class="box b-turquoise">
			<i class="fas fa-hand-holding-usd fa-3x"></i>
			<p>A/B testing</p>
			<p>Premium Ad Exchanges</p>
			<p>Mobile Web & Inapp</p>
			<p>Display, Native & Video Creatives</p>
		</div>

	</div>

</div>