<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background: #fef0d8;">
	<path fill="#fff" fill-opacity="1" d="M0,192L34.3,202.7C68.6,213,137,235,206,224C274.3,213,343,171,411,165.3C480,160,549,192,617,192C685.7,192,754,160,823,138.7C891.4,117,960,107,1029,128C1097.1,149,1166,203,1234,202.7C1302.9,203,1371,149,1406,122.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
</svg>

<div class="b-yellow">
	
	<div class="container d-flex">
		
		<div class="box">
			<i class="fas fa-rocket fa-3x"></i>
			<p class="mt-4">Fully transparent</p>
			<p class="blue-text">Reach exclusive audiences</p>
			<p>Unique, high-quality inventory</p>	
		</div>
		
		<div class="box">
			<i class="fas fa-crown fa-3x"></i>
			<p class="mt-4">A/B testing</p>
			<p class="blue-text">Premium Ad Exchanges</p>
			<p>Mobile Web & Inapp</p>
			<p class="blue-text">Display, Native & Video Creatives</p>
		</div>

		<div class="box">
			<i class="fas fa-hand-holding-usd fa-3x"></i>
			<p class="mt-4">Customized algorithms</p>
			<p class="blue-text">Brand-safe environments</p>
			<p>Global reach</p>
		</div>


	</div>

</div>