<div class="footer text-center">
			
	<p>© 2021 Selfy DSP, a <%= link_to "www.smadex.com" do %> 
		<%= image_tag "logo_smadex.png", class: "logo-small"%> 
    <% end %>
		Company</p>
		<p class="small">
		<%= link_to 'Terms & Conditions', "http://tc.selfydsp.com/", target: "_blank" %>
			
		</p>
</div>

