<div class="banner-tech">
	
	<div class="container">
		
		<div class="align-items-center text-center">

		  <h2>	Already trusted by over 1,000 media buyers</h2> 

		  <h4>We offer solutions tailored to meet your needs</h4>
		  
	<div class="text-center btn-down">
		<%= link_to 'Join now', "https://selfydsp.aidaform.com/free-membership-registration-form", target: "_blank", class: "btn btn-gradient" %>
	</div>
		</div>

	</div>

</div>


