<h1>Selfy DSP</h1>

<div class="container">
	<div class="row align-items-center">
	   <div class="col-12 col-md-8">
      <h1 class="text-center">Premium Digital Marketing Demand Side Platform</h1>
    </div>
    <div class="col-12 col-md-4">
      <%= render 'pages/icon1' %>
    </div>
  </div>
</div>

<div>
	
	<%= link_to 'JOIN NOW', "#", class: "btn btn-gradient" %>

</div>


Fully transparent

Premium Ad Exchanges

Mobile Web & Inapp

Unique, high-quality inventory

Customized algorithms

Display, Native & Video Creatives

Global reach

A/B testing

Reach exclusive audiences

Brand-safe environments

