.home-banner {
	height: 80vh;
	text-align: center;
	padding-top: 15vh;
	h1 {
		color: $red;
		font-size: 4rem;
		margin-bottom: 20px;
		font-weight: 400;
		letter-spacing: 3px;
	}
	h3 {
		color: $yellow;
		margin-bottom: 40px;
	}
}

.text-banner {
	margin-top: 15vh;
}
