.home-banner {
	height: 80vh;
	text-align: center;
	padding-top: 15vh;
	h1 {
		color: $red;
		font-size: 4rem;
		margin-bottom: 20px;
		font-weight: 400;
		letter-spacing: 3px;
	}
	h3 {
		color: $yellow;
		margin-bottom: 40px;
	}
}

.text-banner {
	margin-top: 15vh;
}

.banner-tech {
	padding-top: 15vh;
	padding-bottom: 10vh;
	height: 55vh;
	background-color: #465b64;
	h2 {
		color: #fff;
		font-size: 3rem;
		font-weight: 400;
		letter-spacing: 1px;
	}
	h4 {
		color: $green;
		margin-bottom: 40px;
		font-weight: 400;
	}
}

.description {
	margin-top: 10vh;
	height: 70vh;
	h2 {
		color: $grey;
		font-size: 2.5rem;
		font-weight: 400;
	}
}
