.box {
	padding: 40px;
	margin: 40px;
	width: 33%;
	text-align: center;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 3px 19px -9px rgba(0, 0, 0, 0.75);

	p {
		font-size: 1.5rem;
		color: $red;
	}
}

.b-yellow {
	background-color: #fef0d8;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 80px;
}
