.btn-gradient {
	color: white;
	background: $green;
	padding: 12px 96px;
	min-width: 95px;
	border-radius: 4px;
	font-weight: 600;
	cursor: pointer;
	font-size: 1.1rem;
}

.btn-gradient:hover {
	background: $green-dark;
	color: white;
}

.btn-down {
	margin-bottom: -20px;
}
